.profile-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.profile-pic {
  width: 50px;
  margin-right: 10px;
  margin-left: 10px;
}
.profile-info {
  width: 70%;
  text-align: left;
}
.profile-name {
  margin: 2px;
}

.profession {
  font-size: 9px;
  margin: 2px;
}

.select-break-time,
.exercise-time,
.break-time {
  font-size: 20px;
  text-align: left;
  margin: 10px;
}

.exercise-time,
.break-time {
}

.select-break-time {
  font-size: 23px;
  font-weight: 600;
}

.break-time-option-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.break-time-option-container div {
  margin: 8px;
  padding: 10px;
  background-color: bisque;
  border-radius: 50%;
  font-weight: 500;
}

.break-time-option-container div:hover {
  background-color: rgb(252, 202, 140);
}
